In [24]:
a='C,B,A'
a=a.split(',')
b=['F','G','H']
c=a+b
c[0]='K'
d= c.pop(2)
print(d)
del c[1:4]
c.append('U')
print (c)

A
['K', 'H', 'U']

In [20]:
a=(input("八位數"))
print (a[4])

八位數44445678
5

In [30]:
a='My ID is B1202050'
a=a.split(' ')
print (len(a))
print(len(a[3]))

4
8

In [33]:
a="I'm a student"
a=a.split(' ')
print (a[0][2])

m