In [15]:
a={'姓名':'賴宏瑋','性別':'男','作業分數':[95,100,90]}
b={'學號':'M1129020'}
c={**a,**b}
d=c.copy()
c['作業分數']=[95,80,90]
d['姓名']='許珈綺'
d['性別']='女'
d['學號']='Ｍ1229001'
e=c.pop('作業分數')
q=e.pop(0)
w=e.pop(0)
e=e.pop(0)
ave1=(q+w+e)/3
print(ave1)
print(c)
s=d.pop('作業分數')
r=s.pop(0)
t=s.pop(0)
y=s.pop(0)
ave2=(r+t+y)/3
print(ave2)
print(d)

88.33333333333333
{'姓名': '賴宏瑋', '性別': '男', '學號': 'M1129020'}
95.0
{'姓名': '許珈綺', '性別': '女', '學號': 'Ｍ1229001'}

In [17]:
a=[100,50,45,60,90,95,80,50]
a.insert(0,88)
a[2:5]=[70,50]
a.remove(50)
b=a.pop(0)
c=a.pop(5)
d=(b+c)
print(d)

138

In [18]:
A=347//3
B=347%3
print(A)
print(B)
print(A**B)

115
2
13225